<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Dsl -->
      <package
            uri="http://www.eclipse.org/gemoc/Dsl"
            class="org.eclipse.gemoc.dsl.DslPackage"
            genModel="model/Dsl.genmodel"/>
   </extension>

</plugin>
