<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fsmTrace -->
    <package uri="fsmTrace" class="fsmTrace.FsmTracePackage" genModel="model/fsmTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fsmTrace -->
    <package uri="fsmTrace_Steps" class="fsmTrace.Steps.StepsPackage" genModel="model/fsmTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fsmTrace -->
    <package uri="fsmTrace_States" class="fsmTrace.States.StatesPackage" genModel="model/fsmTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fsmTrace -->
    <package uri="fsmTrace_fsm" class="fsmTrace.States.fsm.FsmPackage" genModel="model/fsmTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon">
    <Addon Class="org.eclipse.gemoc.sample.legacyfsm.xsfsm.xsfsm.trace.tracemanager.FsmTraceEngineAddon" Default="false" id="org.eclipse.gemoc.sample.legacyfsm.xsfsm.xsfsm.trace" Name="fsm MultiDimensional Trace" ShortDescription="MultiDimensional Trace support dedicated to fsm language" openViewIds="org.eclipse.gemoc.addon.multidimensional.timeline.views.timeline.MultidimensionalTimeLineView" AddonGroupId="Sequential.AddonGroup" />
  </extension>
</plugin>
