<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="org.eclipse.gemoc.commons.eclipse.jdt.autosrcfolder.ui.WorkbenchPreferencePage"
            id="org.eclipse.gemoc.commons.eclipse.jdt.autosrcfolder.page"
            name="AutoSrcFolder">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.gemoc.commons.eclipse.jdt.autosrcfolder.Startup">
      </startup>
   </extension>

</plugin>
