<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2015, 2017  Inria  and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Inria - initial API and implementation
 -->
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.sample.legacyfsm.xsfsm.XSFSM" xdsmlFilePath="/org.gemoc.sample.legacyfsm.xsfsm/src/org/gemoc/sample/legacyfsm/xsfsm/language/XSFSM.melange">
      <XDSML_Definition_Customization fileExtensions="fsm, xsfsm"/>
    </XDSML_Definition>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XSFSMMT -->
    <package class="org.gemoc.sample.legacyfsm.xsfsm.xsfsmmt.fsm.FsmPackage" genModel="model-gen/XSFSMMT.genmodel" uri="http://org.gemoc.sample.legacyfsm.xsfsm.xsfsmmt/fsm/"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.sample.legacyfsm.xsfsm.XSFSMMT" uri="http://org.gemoc.sample.legacyfsm.xsfsm.xsfsmmt/">
      <subtyping modeltypeId="org.gemoc.sample.legacyfsm.fsm.FSMMT"/>
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="State:org.gemoc.sample.legacyfsm.xsfsm.xsfsm.aspects.StateAspect;StateMachine:org.gemoc.sample.legacyfsm.xsfsm.xsfsm.aspects.StateMachineAspect;Transition:org.gemoc.sample.legacyfsm.xsfsm.xsfsm.aspects.TransitionAspect" entryPoints="org.gemoc.sample.legacyfsm.xsfsm.xsfsm.aspects.StateMachineAspect.main(org.gemoc.sample.legacyfsm.xsfsm.xsfsm.fsm.StateMachine)" exactType="org.gemoc.sample.legacyfsm.xsfsm.XSFSMMT" id="org.gemoc.sample.legacyfsm.xsfsm.XSFSM" uri="http://org.gemoc.sample.legacyfsm.xsfsm.xsfsm/fsm/">
      <adapter class="org.gemoc.sample.legacyfsm.xsfsm.xsfsm.adapters.fsmmt.XSFSMAdapter" modeltypeId="org.gemoc.sample.legacyfsm.fsm.FSMMT"/>
      <adapter class="org.gemoc.sample.legacyfsm.xsfsm.xsfsm.adapters.xsfsmmt.XSFSMAdapter" modeltypeId="org.gemoc.sample.legacyfsm.xsfsm.XSFSMMT"/>
    </language>
  </extension>
</plugin>
