<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.gemoc.gemoc_studio.headless.EngineRunner"
         name="GEMOC headless EngineRunner"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.gemoc.gemoc_studio.headless.application.EngineRunner">
         </run>
      </application>
   </extension>
   <extension
         id="GemocStudioHeadless"
         name="GEMOC Studio headless"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.gemoc.gemoc_studio.headless.application.EngineRunner"
            name="name">
         <property
               name="appName"
               value="GEMOC Studio headless">
         </property>
      </product>
   </extension>

</plugin>
