<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="GEMOCStudio Target platform" sequenceNumber="1700842450">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="3.7.13.202304041222"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.28.0.v20230525-0648"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20230422-0242"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.701.v20230423-0417"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20230422-0242"/>
      <unit id="org.eclipse.egit.feature.group" version="6.6.0.202305301015-r"/>
      <unit id="org.eclipse.egit.gitflow.feature.feature.group" version="6.6.0.202305301015-r"/>
      <unit id="org.eclipse.emf.feature.group" version="2.34.0.v20230406-1334"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="3.3.21.202212280858"/>
      <unit id="org.eclipse.emf.compare.rcp" version="2.5.2.202212280858"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.21.202212280858"/>
      <unit id="org.eclipse.emf.ecoretools.design.feature.group" version="3.5.0.202306021647"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.14.0.v20221117-1134"/>
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.14.0.v20221117-1134"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.14.0.v20221117-1134"/>
      <unit id="org.eclipse.emf.query.sdk.feature.group" version="1.12.1.202208101410"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="1.10.1.v20221110-1841"/>
      <unit id="org.eclipse.epp.package.common.feature.feature.group" version="4.28.0.20230608-1200"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.2000.v20230510-1208"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2100.v20230415-0944"/>
      <unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.11.100.v20221109-0702"/>
      <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.21.0.v20230517-2121"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.3.0.20230523-2033"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="2.1.2.20230523-2106"/>
      <unit id="org.eclipse.m2e.pde.feature.feature.group" version="2.2.100.20230523-1752"/>
      <unit id="org.eclipse.m2m.qvt.oml.feature.group" version="3.10.7.v20220605-1149"/>
      <unit id="org.eclipse.m2m.qvt.oml.editor.feature.group" version="3.10.7.v20220605-1149"/>
      <unit id="org.eclipse.m2m.qvt.oml.runtime.feature.group" version="3.10.7.v20220605-1149"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.10.7.v20220605-1149"/>
      <unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="3.0.46.202301111837"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.18.0.v20221201-0557"/>
      <unit id="org.eclipse.oomph.setup.feature.group" version="1.28.0.v20230523-0636"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.28.0.v20230605-0440"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.28.0.v20230605-0440"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.1.0.202306071420"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="4.1.0.202306071420"/>
      <unit id="org.eclipse.swtbot.feature.group" version="4.1.0.202306071420"/>
      <unit id="org.eclipse.tm.terminal.feature.feature.group" version="11.2.0.202303131754"/>
      <unit id="org.eclipse.wst.web_core.feature.feature.group" version="3.30.0.v202305230750"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.30.0.v202305230750"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.30.0.v202305230750"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.31.0.v20230529-0659"/>
      <unit id="org.eclipse.xtext.redist.feature.group" version="2.31.0.v20230529-0659"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.31.0.v20230529-0659"/>
      <unit id="ch.qos.logback.classic" version="1.2.12"/>
      <unit id="org.apache.commons.lang3" version="3.12.0.v20221221-1931"/>
      <unit id="org.apache.xalan" version="2.7.2.v20221112-0806"/>
      <unit id="org.eclipse.lsp4e" version="0.16.1.202305241229"/>
      <unit id="org.eclipse.lsp4e.debug" version="0.15.2.202305241157"/>
      <unit id="org.eclipse.lsp4e.jdt" version="0.11.0.202301312314"/>
      <unit id="org.eclipse.xtext.generator" version="2.31.0.v20230529-0659"/>
      <unit id="javax.annotation" version="1.3.5.v20230504-0748"/>
      <repository id="eclipse" location="https://download.eclipse.org/releases/2023-06"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius.specifier.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.sirius.aql.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.sirius.properties.feature.feature.group" version="7.2.0.202306070701"/>
      <unit id="org.eclipse.eef.sdk.feature.feature.group" version="2.1.6.202210191223"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="2.1.6.202210191223"/>
      <unit id="org.eclipse.sirius.diagram.elk.feature.feature.group" version="7.2.0.202306070701"/>
      <repository id="sirius" location="https://download.eclipse.org/sirius/updates/releases/7.2.0/2023-03/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.discovery.feature.group" version="1.8.0.201706011309"/>
      <repository id="photon" location="https://download.eclipse.org/releases/photon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.feature.feature.group" version="0.14.1.202303210900"/>
      <unit id="org.eclipse.emf.diffmerge.gmf.feature.feature.group" version="0.14.1.202303210900"/>
      <unit id="org.eclipse.emf.diffmerge.sirius.feature.feature.group" version="0.14.1.202303210900"/>
      <unit id="org.eclipse.emf.diffmerge.egit.feature.feature.group" version="0.14.1.202303210900"/>
      <repository id="diffmerge" location="https://download.eclipse.org/diffmerge/releases/0.14.1/emf-diffmerge-site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecoretools.ale.feature.feature.group" version="1.2.0.202007171516"/>
      <repository id="ale" location="https://www.kermeta.org/ale-lang/updates/2020-07-17"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ajdt.feature.group" version="2.2.4.202311040357"/>
      <repository id="ajdt" location="https://download.eclipse.org/tools/ajdt/426/dev/update"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="fr.inria.aoste.timesquare.feature.feature.group" version="1.0.0.202109021545"/>
      <repository id="timesquare" location="https://timesquare.gitlabpages.inria.fr/updatesite/2021-09-02"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecoretools.registration.feature.feature.group" version="3.3.0.201811051325"/>
      <repository id="diverse-commons" location="https://www.kermeta.org/diverse-commons/updates/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="openjfx.standard.feature.feature.group" version="19.0.0.202211040945"/>
      <unit id="openjfx.swing.feature.feature.group" version="19.0.0.202211040945"/>
      <unit id="openjfx.swt.feature.feature.group" version="19.0.0.202211040945"/>
      <unit id="openjfx.media.feature.feature.group" version="19.0.0.202211040945"/>
      <unit id="openjfx.web.feature.feature.group" version="19.0.0.202211040945"/>
      <repository id="openjfx" location="https://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-19/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.fx.ide.basic.feature.feature.group" version="3.9.0.202210170554"/>
      <unit id="org.eclipse.fx.ide.pde.feature.feature.group" version="3.9.0.202210170554"/>
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.9.0.202210170500"/>
      <repository id="fxclipse" location="https://download.eclipse.org/efxclipse/updates-released/3.9.0/site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.4.44.v20210927"/>
      <repository id="jetty" location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.44.v20210927"/>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,test" includeSource="true" missingManifest="generate" type="Maven" label="MavenDependencies">
    <dependencies>
    	<dependency>
    		<groupId>org.eclipse.jetty.osgi</groupId>
    		<artifactId>jetty-osgi-boot</artifactId>
    		<version>10.0.6</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.apache.aries.spifly</groupId>
    		<artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
    		<version>1.3.4</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.ibm.icu</groupId>
    		<artifactId>icu4j</artifactId>
    		<version>70.1</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>javax.servlet</groupId>
    		<artifactId>javax.servlet-api</artifactId>
    		<version>3.1.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.eclipse.jetty.websocket</groupId>
    		<artifactId>websocket-javax-server</artifactId>
    		<version>10.0.6</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.eclipse.jetty.toolchain</groupId>
    		<artifactId>jetty-javax-websocket-api</artifactId>
    		<version>1.1.2</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.mapstruct</groupId>
    		<artifactId>mapstruct</artifactId>
    		<version>1.4.2.Final</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
