<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="GEMOC Studio Base" sequenceNumber="1647008380">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.rcp" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.server.jetty.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.lsp4e" version="0.0.0"/>
      <unit id="org.eclipse.lsp4e.debug" version="0.0.0"/>
      <unit id="org.eclipse.lsp4e.jdt" version="0.0.0"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2e.pde.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.editor.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.web_core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
      <unit id="ch.qos.logback.classic" version="0.0.0"/>
      <unit id="org.apache.commons.lang3" version="0.0.0"/>
      <unit id="org.apache.xalan" version="0.0.0"/>
      <repository id="eclipse" location="https://download.eclipse.org/releases/2022-06"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.properties.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram.elk.feature.feature.group" version="0.0.0"/>
      <repository id="sirius" location="https://download.eclipse.org/sirius/updates/releases/7.0.1/2021-06/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.xtext.generator.feature.group" version="0.0.0"/>
      <repository id="eclipse" location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.27.0/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.amalgam.discovery.feature.group" version="0.0.0"/>
      <repository id="photon" location="http://download.eclipse.org/releases/photon"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.gmf.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.sirius.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.diffmerge.egit.feature.feature.group" version="0.0.0"/>
      <repository id="diffmerge" location="http://download.eclipse.org/diffmerge/releases/0.13.0/emf-diffmerge-site"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecoretools.ale.feature.feature.group" version="0.0.0"/>
      <repository id="ale" location="http://www.kermeta.org/ale-lang/updates/2020-07-17"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.ajdt.feature.group" version="0.0.0"/>
      <repository id="ajdt" location="http://download.eclipse.org/tools/ajdt/410/dev/update"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="fr.inria.aoste.timesquare.feature.feature.group" version="0.0.0"/>
      <repository id="timesquare" location="http://timesquare.inria.fr/update_site/2020"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecoretools.registration.feature.feature.group" version="0.0.0"/>
      <repository id="diverse-commons" location="http://www.kermeta.org/diverse-commons/updates/latest"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="openjfx.standard.feature.feature.group" version="0.0.0"/>
      <unit id="openjfx.swing.feature.feature.group" version="0.0.0"/>
      <unit id="openjfx.swt.feature.feature.group" version="0.0.0"/>
      <unit id="openjfx.media.feature.feature.group" version="0.0.0"/>
      <unit id="openjfx.web.feature.feature.group" version="0.0.0"/>
      <repository id="openjfx" location="https://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-11.0.1/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.fx.ide.basic.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.fx.ide.pde.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="0.0.0"/>
      <repository id="fxclipse" location="https://download.eclipse.org/efxclipse/updates-released/3.8.0/site"/>
    </location>
	  <location includeDependencyScope="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.eclipse.jetty.osgi</groupId>
				  <artifactId>jetty-osgi-boot</artifactId>
				  <version>10.0.6</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyScope="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.apache.aries.spifly</groupId>
				  <artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
				  <version>1.3.4</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyScope="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>com.ibm.icu</groupId>
				  <artifactId>icu4j</artifactId>
				  <version>70.1</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyScope="compile" includeSource="true" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>javax.servlet</groupId>
				  <artifactId>javax.servlet-api</artifactId>
				  <version>3.1.0</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyScope="compile" includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.eclipse.jetty.websocket</groupId>
				  <artifactId>websocket-javax-server</artifactId>
				  <version>10.0.6</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.eclipse.jetty.toolchain</groupId>
				  <artifactId>jetty-javax-websocket-api</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeSource="true" missingManifest="generate" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.mapstruct</groupId>
				  <artifactId>mapstruct</artifactId>
				  <version>1.4.2.Final</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>