<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.example.org/minijava/MiniJava"
			class = "org.tetrabox.minijava.xtext.miniJava.MiniJavaPackage"
			genModel = "model/MiniJava.genmodel" />
	</extension>
</plugin>
